.viewController{
  position: absolute;
  height: 100%;
  width: 100%;
}




.title{
  font-size: 60px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  background: #454545;
  color: white;
}

.tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffb6c1;
  height: 40px;
}

.tableTitleRank {
  width: 100px;
  font-size: 25px;
  margin-right: 50px;
}

.tableTitleUser {
  width: 200px;
  font-size: 25px;
}

.tableTitleAlltime {
  width: 200px;
  font-size: 25px;
  color: black;
  font-weight: bold;
    margin-right: 13px;
}

.tableTitleRecent {
  width: 200px;
  font-size: 25px;
  margin-right: 11px;

}


.userMetadata {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.userMetadata:hover {
  background-color: lightblue;
}



.userInfo {
  width: 200px;
  margin-top: 55px;
  text-align: center;
}

.userRank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
}

.userAvatar {
  height: 75px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.userAlltime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
  margin-top: 15px;
  width: 200px;

}

.userRecent {
  display: flex;
  flex-direction: column;
  justify-content: center;
    margin-left: 70px;
  font-size: 35px;
  margin-top: 15px;
  width: 200px;
}

.userRankData {
  margin-top: 15px;
  width: 80px;
}
